[Unit]
Description=Prometheus Exporter for APC UPSs
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=prometheus
Group=prometheus
WorkingDirectory=/opt/apcups-prometheus-exporter
ExecStart=/opt/apcups-prometheus-exporter/prometheus_apcups_exporter.sh

[Install]
WantedBy=multi-user.target
